@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
body {
    color: #fff;
    background-color: #1f1f1f;
    transition: background 0.2s linear, color 0.2s linear;
    font-family: 'Asap Condensed', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}


/* Logo */

.logo {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px
}


/* Nav */

#btnNav {
    z-index: 2;
    background-color: #D42929;
    border: none;
    border-radius: 6px;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0.7rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button.active {
    transform: translateX(-110px);
}

nav {
    z-index: 2;
    background-color: #D42929;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    margin-right: -1px;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
}


/* Hover Nav */

li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* Popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
}

#rules-popup .popup-content {
    background-color: #333333;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 325px;
    margin: 10em auto;
    position: relative;
}

.popup h1 {
    text-decoration: underline;
    text-decoration-color: #D42929;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #D42929;
    color: white;
    padding: 0.7rem;
    border-radius: 6px;
    text-decoration: none;
}


/* Popup Hover */

.close:hover {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(.92)
}

.popup:target {
    display: block
}


/* Toggle DarkMode*/

.toggle-container {
    position: fixed;
    bottom: 80px;
    left: 1.5em;
}

label {
    user-select: none;
    cursor: pointer;
}

input {
    visibility: hidden;
}

.icon-switch {
    max-height: 2em;
    max-width: 2em;
}


/* Affichage */

.affichage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.selection_and_choice {
    margin-right: 2em
}


/* Selection */

.selection {
    display: table;
    background-color: #333333;
    border-radius: 8px;
    height: 30px;
    width: 370px;
}

#endPopupSelection {
    width: 370px;
    height: 137px;
    position: absolute;
}

.selection h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.playerSelection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.playerSelection button {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: crosshair;
    border: none;
}

.playerSelection button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #1f1f1f;
}

#blue {
    background-color: #ABDAFC;
}

#green {
    background-color: #A7E8BD;
}

#purple {
    background-color: #D4ADCF;
}

#red {
    background-color: #F57266;
}

#yellow {
    background-color: #FFD970;
}


/* Choice */

.choice {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 8px;
    width: 370px;
}

#endPopupChoice {
    width: 370px;
    height: 223.5px;
    position: absolute;
}

.choice h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.player_choice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.player_choice div {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #333333;
    border: solid;
    border-color: #FFF;
    transition: background 0.2s linear, color 0.2s linear;
}

.clear_send {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.button_clear {
    cursor: pointer;
    height: 35px;
    margin-bottom: 20px;
}

.button_send {
    cursor: pointer;
    height: 33px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.button_clear:hover,
.button_send:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* Music */

.music {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 8px;
    width: 370px;
    height: 245px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-picture {
    margin-top: 20px;
    background-image: URL("");
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-size: cover;
}

.track-name {
    font-size: 1.2em
}

.track-name,
.track-artist {
    margin-top: 10px;
}

.position_buttons {
    display: flex;
    justify-content: center;
    margin-right: 17px
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons .prev label img {
    height: 23px;
    width: 23px;
}

.buttons .next label img {
    height: 23px;
    width: 23px;
}

.buttons .playpause label img {
    height: 23px;
    width: 23px;
    margin-right: 15px;
    margin-left: 15px;
}

.seek_slider {
    visibility: hidden;
    position: absolute;
}

.playpause:hover,
.prev:hover,
.next:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* Game */

.game {
    background-color: #333333;
    width: 384px;
    height: 670px;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    position: relative;
}

.set {
    display: flex;
    justify-content: space-between;
}

.player div {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px 0 14px;
    transition: background 0.2s linear, color 0.2s linear;
}

.text {
    margin: auto;
    text-align: center;
    color: #333333;
}

.score {
    display: grid;
    grid: repeat(2, 25px) / auto-flow 25px;
    padding: 0 15px 0 14px;
}

.score div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.end {
    border-radius: 8px;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

#endPopupGame {
    width: 100%;
    height: 670px;
    position: absolute;
}

#container {
    background: #1f1f1f;
    width: 14rem;
    border-radius: 8px;
    margin: auto;
    margin-top: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

#VorL {
    display: flex;
    justify-content: center;
}

#text {
    display: flex;
    justify-content: center;
}

.answers {
    display: flex;
    justify-content: space-around;
}

.answer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid;
    float: left;
}

#restart {
    padding: 0.6rem 1rem;
    background-color: #333333;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


/* Light Mode */

body.light {
    background-color: #fff;
    transition: background 0.2s linear, color 0.2s linear;
}

body.light #rules-popup .popup-content {
    background-color: white;
    color: black;
}

@media screen and (max-width: 804px) {
    body {
        font-size: 14px;
    }
    .game {
        height: 656px;
    }
    #endPopupGame {
        height: 656px
    }
    #endPopupChoice {
        height: 220px
    }
    #endPopupSelection {
        height: 134px
    }
    .player div {
        width: 38px;
        height: 38px;
    }
    .score {
        padding: 0 1px 0 5px;
    }
    .score div {
        height: 15px;
        width: 15px;
    }
}

@media screen and (max-width: 736px) {
    .selection,
    .choice,
    .music,
    .game,
    #endPopupChoice,
    #endPopupSelection {
        width: 300px
    }
    #rules-popup .popup-content {
        width: 400px
    }
    .player div {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 634px) {
    .set {
        align-items: center;
    }
    .player div {
        width: 25px;
        height: 25px;
        margin: 0 5px 0 10px;
    }
    .score div {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 578px) {
    .selection,
    .choice,
    .music,
    #endPopupChoice,
    #endPopupSelection {
        width: 250px
    }
    #endPopupChoice {
        height: 205px
    }
    .player_choice div {
        width: 30px;
        height: 30px;
    }
    .player div {
        width: 25px;
        height: 25px;
        margin: 0 2px 0 2px;
    }
    .score div {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 484px) {
    #rules-popup .popup-content {
        width: 260px
    }
    .affichage {
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }
    .music {
        display: none;
        visibility: hidden;
    }
    .selection,
    .choice {
        margin-top: 20px;
        width: 300px;
    }
    #endPopupChoice {
        width: 300px;
        height: 135px
    }
    #endPopupSelection {
        width: 300px;
        height: 99px
    }
    .selection h2 {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .choice h2 {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .game {
        width: 300px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .clear_send {
        margin-top: 0;
    }
    .button_clear,
    .button_send {
        height: 20px;
        margin-bottom: 10px;
    }
    .player div {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
    }
}